body{
    background-color: black;
    margin: 20px;
    padding: 10px;

}

.container {
    margin: 20px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100vh;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: white;



}


        .topBand {
            margin: 25px;
            position: inherit;
            display: flex;

            width: 100%;
            background-color: red;
            justify-content: space-between;
            height: 720px;
        }/*flex size*/
                        .mtnImage {
                            margin: 10px;
                            padding: 10px;
                            position: fixed;
                            z-index: 100;
                            height: 624px;
                            width: 1180px;
                            background-color: pink;
                        }
                                    .diamond {
                                        margin: 100px;
                                        position: fixed;
                                        z-index: 5000;
                                        height: 100px;
                                        width: 100px;
                                        background-color: none;
                                    }
                        .navButtons {
                            height: 100px;
                            width: 100px;
                            background-color: palegreen;
                        }

.middleBand {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-color: orangered;
    width: 100%;
}/*flex size*/
        .centerAside {align-self:center; margin: 20px; justify-content: center; height: 100px; width: 82%; background-color: #25aa99;}
        .prgphAndHeads {height: auto; width: 100%; background-color: orange; justify-content: center;}
        .roundedPics {display: flex; justify-content: space-between;height: auto; width: auto; background-color: orange;}
        .captions {display: flex;justify-content: space-around;}
                            #nyc {height: 100px; width: 100px; background-color: blue;}
                            #bbs {height: 100px; width: 100px; background-color: blue;}
                            #run{height: 100px; width: 100px; background-color: blue;}
                            #concert{height: 100px; width: 100px; background-color: blue;}/*flex size*/
        .statChart{display: flex; justify-content: center ; background-color: orange;}

.miniBand{display:flex;justify-content: space-between; height: auto; background-color: blueviolet;width: 100%}/*flex size*/
        .subscribe{height: 100px; width: 100px; background-color: violet;}
        .emailEntry{height: 100px; width: 100px; background-color: violet;}
        .subscbButton{height: 100px; width: 100px; background-color: violet;}

.bottomBand{display:flex; justify-content: space-between; height: 100px; background-color: olivedrab;width: 100%}/*flex size*/
        .UIRating{height: 100px; width: 100px; background-color: greenyellow;}
        .svcList{height: 100px; width: 100px; background-color: greenyellow;}
        .mappUs{height: 100px; width: 100px; background-color: greenyellow;}
        .mailUs{height: 100px; width: 100px; background-color: greenyellow;}
        .emailUs{height: 100px; width: 100px; background-color: greenyellow;}

        .roundedPics {
            display: flex;
            flex-direction: row;

            justify-content: space-around;
        }
.prgphAndHeads {
    border: solid;
    padding: 15px;
    width: auto;
}
.middleBand p{
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    color: white;
    justify-content: center;
}
.middleBand p>span {

    font-size: 28px;
}
.middleBand p>span ::before {
        content: " .....";
        color: #25aa99;
}

      /*************************************************************************************/


/*ordering the divs*/
/*.topBand{order: 1;  }*/
/*.diamond {order: 2;}*/
/*.mtnImage {order: 3;}*/
/*.navButtons {order: 4;}*/
/*.middleBand{order: 5;}*/
/*.centerAside {order: 6;}*/
/*.prgphAndHeads {order: 7;}*/
/*.roundedPics {order: 8;}*/
/*#nyc {order: 9;}*/
/*#bbs {order: 10;}*/
/*#run{order: 11;}*/
/*#concert{order: 12;}*/
/*.statChart{order: 13;}*/
/*.miniBand{order: 14;}*/
/*.subscribe{order: 15;}*/
/*.emailEntry{order: 16;}*/
/*.subscbButton{order: 17;}*/
/*.bottomBand{order: 18;}*/
/*.UIRating{order: 19;}*/
/*.svcList{order: 20;}*/
/*.mappUs{order: 21;}*/
/*.mailUs{order: 22;}*/
/*.emailUs{order: 23;}*/